.vscode
/LAB28_02_2023/target/
/EjemploFecha/target/
/Ejemplos/target/
/LAB07_03_2023/target/
/LAB14_03_2023/target/
/DiegoSoto/nbproject/private/
/DiegoSoto/build/
/WWI_2023/nbproject/private/
/LAB21_03_2023/target/
/ModeloProbabilisticoContinuo/nbproject/private/
/ModeloProbabilisticoContinuoMaven/target/
/LAB28_03_2023/target/
/LAB18_04_2023/target/
